body {
  padding: 0px;
  margin: 0px;

  font-family: 'JetBrains Mono', monospace;
  background-color: #293A7B;
  text-align: center;
  color: #D9DDE2;
}


html #MAIN {
  padding: 0px;
  margin: 0px;
}


#header {
  display: inline-block;
}


#title {
  font-family: 'Lexend Mega', sans-serif;
  font-size: 75px;
  font-weight: bold;
  /* font-style: oblique; */

  margin-top: 40px;
  margin-bottom: 50px;
  letter-spacing: 40px;

  position: relative;
  left: 22px;
}


#logo {
  position: fixed;
  top: 20px;
  right: 20px;
}


#hanlogo {
  width: 80px;
}


#album {
  width: 450px;
}


#content {
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
}


p:hover {
  color: #171A1F;
}


.quote {
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 40px;
}


#links {
  font-family: 'Lexend Mega', sans-serif;
  word-spacing: 250px;

  border-top: 2px solid #D9DDE2;
  padding-top: 15px;
  padding-bottom: 10px;
}


a {
  font-style: bold;
  font-size: 18px;
  color: #D9DDE2;
}
