body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #293A7B;
  text-align: center;
  color: #D9DDE2;
}

p {
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}


#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#han {
  font-size: 70px;
  font-style: bold;
  margin-top: 18px;
  margin-bottom: 25px;
  letter-spacing: 28px;
}


.quote {
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 40px;
}


#links {
  word-spacing: 250px;
  padding-top: 100px;
}


a {
  font-style: bold;
  font-size: 21px;
  color: #D9DDE2;
}
